@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

html{
    height: 100%;
}

body{
    font-family: 'Karla', sans-serif;
}

.block{
    background: white;
    border-radius: 20px;
    margin: 0px;
    padding: 20px;
    color: black;
    box-shadow: 2px 2px 5px #2929294d;
}

.clickMe{
    height: 20px;
}

i{
    vertical-align: middle;
}


h1{
    font-weight: 700;
}

.showColor{
    width: 100%;
    height: 100%;
    text-align: center;
}

.showColor p{
    width: 30%;
    margin: auto;
    background: white;
}